version: '3.6'
services:
  slaacsense:
    image: ${DOCKER_IMAGE:-ghcr.io/notherealmarco/slaacsense:latest}
    #build: .
    container_name: slaacsense
    restart: unless-stopped
    environment:
      - OPNSENSE_URL=${OPNSENSE_URL}
      - OPNSENSE_API_KEY=${OPNSENSE_API_KEY}
      - OPNSENSE_API_SECRET=${OPNSENSE_API_SECRET}
      - TECHNITIUM_URL=${TECHNITIUM_URL}
      - TECHNITIUM_TOKEN=${TECHNITIUM_TOKEN}
      - DNS_ZONE_SUBNETS=${DNS_ZONE_SUBNETS}
      - DO_V4=${DO_V4}
      - IGNORE_LINK_LOCAL=${IGNORE_LINK_LOCAL}
      - VERIFY_HTTPS=${VERIFY_HTTPS}
      - CLOCK=${CLOCK}
      - REFRESH_CYCLE=${REFRESH_CYCLE}
      # optional: reverse zone auto-creation settings (Technitium)
      - TECHNITIUM_PTR_CATALOG=${TECHNITIUM_PTR_CATALOG}
      - TECHNITIUM_USE_SOA_SERIAL_DATE_SCHEME=${TECHNITIUM_USE_SOA_SERIAL_DATE_SCHEME}
      - TECHNITIUM_IPV6_PTR_PREFIXLEN=${TECHNITIUM_IPV6_PTR_PREFIXLEN}
      - TECHNITIUM_ZONE_CREATE_FALLBACK_NO_CATALOG=${TECHNITIUM_ZONE_CREATE_FALLBACK_NO_CATALOG}
      - TECHNITIUM_PTR_ONLY_OVERWRITE=${TECHNITIUM_PTR_ONLY_OVERWRITE}
      # WireGuard support
      - ENABLE_WIREGUARD_DNS=${ENABLE_WIREGUARD_DNS}
      - WG_INSTANCES_DNSZONES=${WG_INSTANCES_DNSZONES}
      # Debug mode
      - DEBUG_MODE=${DEBUG_MODE}
      # optional: override logging level (DEBUG, INFO, WARNING, ERROR)
      - LOG_LEVEL=${LOG_LEVEL}
